div {
    box-sizing: border-box;
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
  }
  html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 250px;
    height: 250px;
    background-color: orange;
}
